<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{127,241}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{127,241}}</string>
                <key>sourceSize</key>
                <string>{127,303}</string>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,261},{123,243}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{123,243}}</string>
                <key>sourceSize</key>
                <string>{127,303}</string>
            </dict>
            <key>fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{121,239}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,64},{121,239}}</string>
                <key>sourceSize</key>
                <string>{127,303}</string>
            </dict>
            <key>fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{119,303}}</string>
                <key>sourceSize</key>
                <string>{127,303}</string>
            </dict>
            <key>fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{123,257}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{123,257}}</string>
                <key>sourceSize</key>
                <string>{127,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireball.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63ed4b12460d2265c83404aa19ba5fa1:1/1$</string>
            <key>textureFileName</key>
            <string>fireball.png</string>
        </dict>
    </dict>
</plist>
